<div class="header-wrap">
  <div class="container"> 
    <div class="row"> 
      <div class="col-md-3 col-sm-3">
        <div class="logo"><%= link_to image_tag("logo.png"), root_path %></div>
      </div>
      <div class="col-md-5 col-sm-9"> 
        <div class="navigationwrape">
          <div class="navbar navbar-default" role="navigation">
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><%= link_to t("static_pages.home.title"), root_path %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="header-right">
          <div class="user-wrap">
            <% if user_signed_in? %>
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="" data-toggle="dropdown">
                    <%= current_user.username %><b class="caret"></b>
                  </a>
                    <ul class="dropdown-menu">
                      <% if can? :create, Profile %>
                        <li>
                          <%= link_to t("user.create_profile"), new_profile_path(id: current_user.id) %>
                        </li>
                      <% end %>
                      <% if can? :read, Profile %>
                        <li>
                          <%= link_to t("user.show_profiles"), user_path(id: current_user.id) %>
                        </li>
                      <% end %>
                      <% if can? :read, UserApply %>
                        <li>
                          <%= link_to t("user.show_job_applieds"), job_applieds_user_path(id: current_user.id) %>
                        </li>
                      <% end %>
                      <li>
                        <%= link_to t("user.logout"), destroy_user_session_path, method: :delete %>
                      </li>
                    </ul>
                </li>
                <li class="dropdown notifi">
                  <a href="#" class="" data-toggle="dropdown">
                    <span id="noti-not-viewed"><%= count_not_viewed_notification %></span>
                    <i class="fa fa-bell" aria-hidden="true"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-right" id="notification-list-header"> 
                    <div id="my-notifi">
                      <% if current_user.notifications.any? %>
                        <%= render partial: "shared/notification", collection: current_user.notifications.by_created_at, as: :notification %>
                      <% end %>
                    </div>
                    <div class="view-all">
                      <%= link_to t("notification.view_all_notification"), notifications_path %>
                    </div>
                  </ul>
                </li>
              </ul>  
            <% else %>
              <div class="login-btn"><%= link_to t("user.login"), new_user_session_path %></div>
              <div class="register-btn"><%= link_to t("user.register"), new_user_registration_path %></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
