<p><%= t "email.hello" %> <%= @resource.email %>!</p>

<p><%= t "email.change_pw" %></p>

<p><%= link_to t("devise.passwords.change_password"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t "email.ignore" %></p>
<p><%= t "email.until" %></p>
